{% extends 'base.html' %}

{% block content %}
<h2>Bienvenido al Sistema Universitario</h2>
<p>Aquí puedes encontrar información sobre universidades públicas y privadas en el país, además de los pensums de las diferentes carreras.</p>

<p style="text-align: justify;">En la ciudad de La Paz, Bolivia, la búsqueda de información sobre las carreras universitarias, requisitos de admisión y características de las instituciones de educación superior es una tarea crucial para los jóvenes recién graduados de secundaria. Sin embargo, este proceso suele estar fragmentado y disperso, lo que dificulta la toma de decisiones adecuadas. En este contexto, la implementación de un sistema web de una guía universitaria tiene como objetivo centralizar y facilitar el acceso a la información educativa, ofreciendo a los estudiantes una plataforma en línea que recopila y presenta de manera estructurada los datos de las universidades y sus programas académicos. Este proyecto explora el marco preliminar para el desarrollo e implementación de dicho sistema web.</p>

{% endblock %}
