{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidades Privadas</h2>
</center>
<ul>
    <li><a href="/universidades/privadas/universidad1">EMI: </a> Escuela Militar de Ingenieria</li>
    <li><a href="/universidades/privadas/universidad2">UCB: </a> Universidad Católica Boliviana San Pablo</li>
    <li><a href="/universidades/privadas/universidad3">INICEN: </a> Universidad Central</li>
    <li><a href="/universidades/privadas/universidad4">UDABOL: </a> Universidad de Aquino Bolivia</li>
    <li><a href="/universidades/privadas/universidad5">UPB: </a> Universidad Privada Boliviana</li>
    <li><a href="/universidades/privadas/universidad6">UNIVALLE: </a> Universidad Privada del Valle</li>
    <li><a href="/universidades/privadas/universidad7">UNIFRANZ: </a> Universidad Privada Franz Tamayo</li>
    <li><a href="/universidades/privadas/universidad8">ULS: </a> Universidad La Salle</li>
    <li><a href="/universidades/privadas/universidad9">UBI: </a> Universidad Boliviana de Informática</li>
    <li><a href="/universidades/privadas/universidad10">UMMBBR: </a> Universidad Militar Mariscal Bernardino Bilbao Rioja</li>
    <li><a href="/universidades/privadas/universidad11">UN: </a> Universidad Nur</li>
    <li><a href="/universidades/privadas/universidad12">LOYOLA: </a> Universidad Loyola</li>
    <li><a href="/universidades/privadas/universidad13">UNSLP: </a> Universidad Nuestra Señora de La Paz</li>
    <li><a href="/universidades/privadas/universidad14">USFA: </a> Universidad Privada San Francisco de Asis</li>
    <li><a href="/universidades/privadas/universidad15">UREAL: </a> Universidad Real</li>
    <li><a href="/universidades/privadas/universidad16">USALESIANA: </a> Universidad Salesiana de Bolivia</li>
    <li><a href="/universidades/privadas/universidad17">UDELOSANDES: </a> Universidad de los Andes</li>
    <li><a href="/universidades/privadas/universidad18">UPIEB: </a> Universidad para la Investig. Estratégica en Bolivia</li>
    <li><a href="/universidades/privadas/universidad19">UTB: </a> Universidad Tecnologica Bolivariana</li>
    <li><a href="/universidades/privadas/universidad20">UB: </a> Universidad Union Boliviana</li>
    <li><a href="/universidades/privadas/universidad21">USP: </a> Universidad Saint Paul</li>
    <li><a href="/universidades/privadas/universidad22">UCORDILLERA: </a> Universidad de la Cordillera</li>
    <li><a href="/universidades/privadas/universidad23">UPDS: </a> Universidad Privada Domingo Savio</li>
    <li><a href="/universidades/privadas/universidad24">UNITEPC: </a> Universidad Técnica Privada Cosmos</li>
    <li><a href="/universidades/privadas/universidad25">UIBATK: </a> Universidad Indígena Boliviana Aymara Túpac Katari</li>
    <li><a href="/universidades/privadas/universidad26">UIT: </a> Universidad Indígena Tawantinsuyu</li>
    <li><a href="/universidades/privadas/universidad27">UP: </a> Universidad Pedagógica</li>
</ul>
{% endblock %}
