{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidades Públicas</h2>
</center>
<ul>
    <li><a href="/universidades/publicas/universidad1">UMSA: </a> Universidad Mayor de San Andres</li>
    <li><a href="/universidades/publicas/universidad2">UPEA: </a> Universidad Pública de El Alto</li>
    <li><a href="/universidades/publicas/universidad3">UABJB: </a> Universidad Autónoma del Beni José Ballivián</li>
    <li><a href="/universidades/publicas/universidad4">UASB: </a> Universidad Andina Simón Bolívar</li>
    <li><a href="/universidades/publicas/universidad5">UNSXX: </a> Universidad Nacional Siglo XX</li>  
</ul>
{% endblock %}
