{% extends 'base.html' %}

{% block content %}
<h2>¿Quiénes somos?</h2>
<p>Somos un sistema universitario que proporciona información detallada sobre las universidades y sus carreras en todo el país.</p>
<p style="text-align: justify;">Desarrollar e implementar un sistema web de una guía universitaria para la ciudad de La Paz, que centralice y organice toda la información sobre las carreras y programas académicos de las universidades públicas y privadas, con el fin de facilitar la toma de decisiones por parte de los estudiantes.</p>
<br><br>
<b>Responsables:</b><br>
• Edwin Alvarez Yapuchura<br>
<b>email: </b>elshopojr@gmail.com<br>
• Marco Antonio Quisbert Choque<br>
<b>email: </b>tigresoldier123@gmail.com<br>
• Beymar Luis Chambi Mamani<br>
<b>email: </b>minionsdelfutbolmdf@gmail.com<br>
• Jhonny Rene Yujra Pinto<br>
<b>email: </b>jhonnyyujrapinto1@gmail.com<br>
{% endblock %}
