{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidad Catolica Boliviana San Pablo</h2>

<img src="{{ url_for('static', filename='images/LOGOS/UCB.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

    <h2>CARRERAS</h2>
</center>
    <ul>
    <B>Pregrados</B>
    <b>Ingeniería</b>
    <li>INGENIERÍA BIOQUÍMICA Y DE BIOPROCESOS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA EN ENERGÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA EN INTERNET DE LA COSAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA DE AGRONEGOCIOS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA QUÍMICA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA EN BIOTECNOLOGÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA MECATRÓNICA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA INDUSTRIAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>     
    <li>INGENIERÍA TELECOMUNICACIONES - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA SISTEMAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA CIVIL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>        
    <li>INGENIERÍA BIOMÉDICA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA AMBIENTAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Ciencias Economicas, Administrativas y Financieras</B>        
    <li>INGENIERÍA EMPRESARIAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>MARKETING Y MEDIOS DIGITALES - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>NEGOCIOS Y CIENCIA DE DATOS - <a href="/static/archivos/pensum.pdf">Ver Pensum</a></li>
    <li>NEGOCIOS Y TECNOLOGÍAS DE INFORMACIÓN - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERA EN INNOVACIÓN EMPRESARIAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>NEGOCIOS Y DISEÑO - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>NEGOCIOS INTERNACIONALES - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>CREACIÓN Y DESARROLLO DE EMPRESAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>   
    <li>ECONOMÍA E INTELIGENCIA DE NEGOCIOS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>INGENIERÍA FINANCIERA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>ADMINISTRACIÓN TURÍSTICA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>CONTADURÍA PÚBLICA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>ADMINISTRACIÓN DE EMPRESAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>ECONOMÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Derecho y Ciencias Politicas</B>
    <li>CIENCIAS POLÍTICAS Y RELACIONES INTERNACIONALES - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>DERECHO - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Aequitectura y Diseño</B>
    <li>DISEÑO DIGITAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>DISEÑO GRÁFICO Y COMUNICACIÓN VISUAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>ARQUITECTURA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Ciencias Humanas y Sociales</B>
    <li>ANTROPOLOGÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>FILOSOFÍA Y LETRAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>COMUNICACIÓN SOCIAL - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>PSICOPEDAGOGÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>PSICOLOGÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Ciencias de la Salud</B>
    <li>KINESIOLOGÍA Y FISIOTERAPIA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>ODONTOLOGÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>MEDICINA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Posgrados</B>
    <li>INGENIERÍA - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>CIENCIAS ECONÓMICAS, ADMINISTRATIVAS, FINANCIERAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>CIENCIAS HUMANAS Y SOCIALES - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>CIENCIAS DE LA SALUD - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>DERECHO Y CIENCIAS POLÍTICAS - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>ARQUITECTURA Y DISEÑO GRÁFICO - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
</ul>
<a href="{{ url_for('privadas') }}">
    <button style="padding: 10px 20px; font-size: 16px;">Universidades Privadas</button>
</a><BR><BR>
<b>Direccion: </b>Av. 14 de Septiembre Nº 4807 esquina, La Paz<br>
<b>Contacto: </b>2 2782222<br>
{% endblock %}