{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidad Mayor de San Andrés</h2>

<img src="{{ url_for('static', filename='images/LOGOS/UMSA.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

    <h2>CARRERAS</h2>
</center>
    <ul>
    <B>Facultad de Agronomía</B>
    <li>Ingeniería Agronómica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería en Producción y Comercialización Agropecuaria - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Programa Medicina Veterinaria y Zootecnia - <a href="/static/archivos/pensum.pdf">Ver Pensum</a></li>
    <B>Facultad de Arquitectura, Artes, Diseño y Urbanismo</B>
    <li>Arquitectura - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Artes Plásticas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diseño Grafico - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Programa de Artes Musicales - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Ciencias Económicas y Financieras</B>
    <li>Administración de Empresas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>   
    <li>Contaduría Publica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Economía - <a href="/static/archivos/economia - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Ciencias Farmacéuticas y Bioquímicas</B>
    <li>Bioquímica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Química Farmacéutica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Ciencias Geológicas</B>
    <li>Ingeniería Geográfica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Geológica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Ciencias Puras y Naturales</B>
    <li>Biología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias Químicas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Estadística - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Física - <a href="/static/archivos/fisica - UMSA.pdf">Ver Pensum</a></li>
    <li>Informática - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Matemática - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Ciencias Sociales</B>
    <li>Antropología y Arqueología - <a href="/static/archivos/ANTROPOLOGIA Y ARQUEOLOGIA -UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias de la Comunicación Social - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Sociología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Trabajo Social - <a href="/static/archivos/trabajo social - umsa.pdf">Ver Pensum</a></li>
    <B>Facultad de Derecho y Ciencias Políticas</B>
    <li>Derecho - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias Políticas y Gestión Publica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Humanidades y Ciencias de la Educación</B>
    <li>Bibliotecología y Ciencias de la Información - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias de la Educación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Filosofía - <a href="/static/archivos/FILOSOFIA - UMSA.pdf">Ver Pensum</a></li>
    <li>Historia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Lingüística e Idiomas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Literatura - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Psicología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Turismo - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Ingeniería</B>
    <li>Ingeniería Civil - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Electrónica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Eléctrica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Industrial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Mecánica y Electromecánica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Metalúrgica y Materiales - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Petrolera - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingeniería Química - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Medicina, Enfermería, Nutrición y Tecnología Médica</B>
    <li>Medicina - <a href="/static/archivos/medicina - UMSA.pdf">Ver Pensum</a></li>
    <li>Enfermería - <a href="/static/archivos/ENFERMERIA - UMSA.pdf">Ver Pensum</a></li>
    <li>Nutrición y Dietética - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Tecnología Médica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Odontología</B>
    <li>Odontología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Facultad de Tecnología</B>
    <li>Aeronáutica - <a href="/static/archivos/AERONAUTICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Construcciones Civiles - <a href="/static/archivos/construccion civil - UMSA.pdf">Ver Pensum</a></li>
    <li>Electricidad Industrial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Electrónica y Telecomunicaciones - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Electromecánica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Mecánica Automotriz - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Mecánica Industrial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Química Industrial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Geodesia, Topografía y Geomática - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
</ul>
<a href="{{ url_for('publicas') }}">
    <button style="padding: 10px 20px; font-size: 16px;">Universidades Publicas</button><br><br>
</a>
<b>Dirección:</b> J.J.Perez, La Paz<br>
<b>Teléfono:</b> 2 2441963<br>
{% endblock %}
