{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidad para la Investigacion Estrategica en Bolivia</h2>

<img src="{{ url_for('static', filename='images/LOGOS/UPIEB.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

    <h2>CARRERAS</h2>
</center>
    <ul>
        <B>Programas en Ejecución</B>
        <B>Cursos</B>
        <li>Curso de Actualización en Metodologías de Investigación Social - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Maestrías</B>
        <li>Maestría en Investigación en Ciencias Sociales para el Desarrollo (3ra Versión) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Maestría de Investigación en Políticas Públicas en Seguridad y Defensa (IPSD-01) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Diplomados</B>
        <li>Diplomado en Investigación Cualitativa y Etnográfica en educación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Ciudadanías Interculturales e Investigación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Programas a Ejecutarse</B>
        <B>Maestrías</B>
        <li>Maestría en Investigación en Ciencias Sociales para el Desarrollo (4ta Versión) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Diplomados</B>
        <li>Diplomado en Ciudadanías Interculturales e Investigación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Investigación Cualitativa y Etnográfica en educación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Metodologías de Investigación Social - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Investigación Cuantitativa en Ciencias Sociales - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Programas Ejecutados</B>
        <B>Maestrías</B>
        <li>Maestría en Investigación en Ciencias Sociales para el Desarrollo - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Maestría en Investigación en Ciencias Sociales para el Desarrollo (2da Versión) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Diplomados</B>
        <li>Diplomado en Metodologías de Investigación Etnográfica en Educación. - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Metodologías de Investigación Social. - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Metodologías de Investigación Social para profesionales de CIPCA y ACLO - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Metodologías de Investigación Social Urbana (El Alto) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Metodologías de Investigación Social (Santa Cruz) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Metodologías de Investigación Social (Trinidad) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado de Metodologías de la Investigación Social (Sucre - Potosí) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado de Metodologías de la Investigación Social (Oruro) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado "Investigación Educativa" - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Especialización</B>
        <li>Diploma de Especialización en Investigación en Ciencias Sociales - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Curso de Actualización :“Sociedad y Religión en los Andes” Perspectivas Antropológicas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    </ul>
    <a href="{{ url_for('privadas') }}">
        <button style="padding: 10px 20px; font-size: 16px;">Universidades Privadas</button>
    </a><BR><BR>
<b>Direccion: </b>Avenida Arce No. 2147<br>
<b>Contacto: </b>(591-2) 2442144-2442074<br>
{% endblock %}