{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidad Salesiana de Bolivia</h2>

<img src="{{ url_for('static', filename='images/LOGOS/USALESIANA.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

    <h2>CARRERAS</h2>
</center>
    <ul>
        <li>Ciencias de la Educación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Ingeniería de Sistemas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Contaduría Pública - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Derecho - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Psicomotricidad - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Educación Parvularia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Posgrados</B>
        <li>Diplomado en Sistema Preventivo Don Bosco como Estrategia de Prevención en Contra del Abuso Sexual en Niñas, Niños y Adolescentes en Ámbitos Educativos y Pastorales - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Derecho Constitucional - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Educación Inclusiva y Estrategias de Acompañamiento - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Auditoría Impositiva - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Neuropsicomotricidad - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Educación Superior - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Gestión Tributaria Municipal y Aduanera - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Derecho Procesal Penal desde la Perspectiva de la Ley 1173 - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Derecho Procesal Constitucional - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li> - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    </ul>
    <a href="{{ url_for('privadas') }}">
        <button style="padding: 10px 20px; font-size: 16px;">Universidades Privadas</button>
    </a><BR><BR>
<b>Direccion: </b>C. 1, La Paz<br>
<b>Contacto: </b>2 2305252<br>
{% endblock %}