{% extends 'base.html' %}

{% block content %}
<center>
    <h2>Universidad Andina Simón Bolívar</h2>

    <img src="{{ url_for('static', filename='images/LOGOS/UASB.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

        <h2>CARRERAS</h2>
</center>
<ul>
    <B>Derecho</B>
    <li>Maestría en Derecho Económico, Regulatorio y Empresarial - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derechos Humanos de Poblaciones más Vulnerables - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Relaciones Internacionales: Mención en Derechos Humanos y Procesos de Integración - Versión I - <a href="/static/archivos/pensum.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Constitucional y Derecho Procesal Constitucional: Mención en derecho comparado y de integración - Versión XIII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Penal y Derecho Procesal Penal: Mención en derecho comparado - Versión IX - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Civil y Derecho Procesal Civil: Mención en derecho comparado - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Agroambiental - Versión IX - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho del Trabajo y Procesal del Trabajo - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>   
    <li>Maestría en Derecho Internacional e Integración - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Tributario y Derecho Procesal Tributario - Versión XII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>    
    <li>Maestría en Derecho Tributario y Procesal Tributario - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Derechos Humanos y Políticas Públicas - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Salud</B>
    <li>Maestría en Salud Pública: Mención en Epidemiología o Administración de Servicios de Salud - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Psicología Clínica - Versión VI - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Epidemiología Hospitalaria y Clínica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Educación para la Salud, Nutrición y Alimentación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li> 
    <li>Maestría en Gestión Social Integral: Mención en análisis crítico de la salud y violencia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Farmacología Básica y Clínica - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Ultrasonografía Básica y General, no Clínico-Quirúrgica (Cochabamba) - Versión XI (Semipresencial: Inicio 26 de Abril 2021) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Psicología Organizacional - Versión I (No presencial - Virtual: Inicio 26 de Abril 2021) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Psicopedagogía - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Educacion</B>
    <li>Especialidad Superior en Docencia Universitaria - Versión VIII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Economia</B>
    <li>Maestría en Relaciones Internacionales: Mención en Derechos Humanos y Procesos de Integración - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Administración de Empresas: Mención en Procesos de Internacionalización y Desarrollo de MyPEs - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Finanzas y Gerencia Financiera - Versión VII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Contabilidad y Auditoría - Versión V - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Economía Aplicada y Gestión de Políticas Publicas - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Integración, Comercio Internacional y Gestión Aduanera - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Marketing Estratégico - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Planificación Estratégica del Sector Público y Privado - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Econometría Aplicada - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Comunicacion</B>
    <li>Maestría en Comunicación Estratégica - Versión XI - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Comunicación para el Cambio de Comportamiento en Gestión Ambiental y del Agua - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Doctorado en Comunicación - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Medioambiente</B>
    <li>Maestría en Seguridad Industrial y Medio Ambiente - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Evaluación de Impacto Ambiental de Proyectos - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Gestión y Responsabilidad Socio Ambiental - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Cambio Global, Gestión de Riesgos y Seguridad Alimentaria - Versión VII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Desarrollo Sostenible</B>   
    <li>Maestría Teledetección, Sistemas de Información Geográfica para el Desarrollo Sostenible - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Sistemas de Riego y Manejo Integrado de Cuencas - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Gestión Ambiental para el Desarrollo Sostenible - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Agroecología y Producción Ecológica para el Desarrollo Sostenible - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Tecnologias de Informacion</B>   
    <li>Maestría en Software Libre - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Desarrollo WEB - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Curso taller “Internet detrás de la pantalla” - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Geomática - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Cultura y Turismo</B>   
    <li>Maestría en Gestión Cultural - Versión VI - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Gestión Turística y Hotelera - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado Superior en Turismo Arqueo-Paleontólogico - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado Superior en Entrenamiento Deportivo - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Posgrados a Distancia</B> 
    <li>Maestría en Derecho Notarial - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Salud Pública: Mención en Epidemiología o Administración de Servicios de Salud - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Psicología Clínica - Versión VI - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Epidemiología Hospitalaria y Clínica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Educación para la Salud, Nutrición y Alimentación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Económico, Regulatorio y Empresarial - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derechos Humanos de Poblaciones más Vulnerables - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Constitucional y Derecho Procesal Constitucional - Versión XV - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Relaciones Internacionales: Mención en Derechos Humanos y Procesos de Integración - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Gestión Social Integral: Mención en análisis crítico de la salud y violencia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Comunicación Estratégica - Versión XI (No presencial - Virtual: Inicio 26 de Abril 2021) - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Comunicación para el Cambio de Comportamiento en Gestión Ambiental y del Agua - Versión I - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Seguridad Industrial y Medio Ambiente - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Diplomado en Evaluación de Impacto Ambiental de Proyectos - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Administración de Empresas: Mención en Procesos de Internacionalización y Desarrollo de MyPEs - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Docencia Universitaria - Versión VIII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Finanzas y Gerencia Financiera - Versión VII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Constitucional y Derecho Procesal Constitucional: Mención en derecho comparado y de integración - Versión XIII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Penal y Derecho Procesal Penal: Mención en derecho comparado - Versión IX - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Administración de Empresas: Mención en Emprendedurismo y Gestión del Talento Humano - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Farmacología Básica y Clínica - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Penal y Derecho Procesal Penal - Versión VIII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Civil y Derecho Procesal Civil: Mención en derecho comparado - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Gerencia de Proyectos para el Desarrollo - Versión XX - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría Teledetección, Sistemas de Información Geográfica para el Desarrollo Sostenible - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Agroambiental - Versión IX - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Contabilidad y Auditoría - Versión V - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Ultrasonografía Básica y General, no Clínico-Quirúrgica (Sede Sucre) - Versión XII - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Derecho Civil y Derecho Procesal Civil - Versión II - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Especialidad Superior en Ultrasonografía Básica y General, no Clínico-Quirúrgica (Cochabamba) - Versión XI - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Gestión Cultural - Versión VI - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Integración, Comercio Internacional y Gestión Aduanera - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Sistemas de Riego y Manejo Integrado de Cuencas - Versión III - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Maestría en Psicología Organizacional - Versión I  - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
</ul>
<a href="{{ url_for('publicas') }}">
    <button style="padding: 10px 20px; font-size: 16px;">Universidades Publicas</button><br><br>
</a>

<b>Direccion: </b>Calle San Salvador #1351<br>
<b>Contacto: </b>(591) 2 2112230<br> 
{% endblock %}
