{% extends 'base.html' %}

{% block content %}
<center>
<h2>Universidad de Aquino Bolivia</h2>

<img src="{{ url_for('static', filename='images/LOGOS/UDABOL.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

    <h2>CARRERAS</h2>
</center>
    <ul>
        <B>Licenciatura</B>
        <li>Ingeniería Ambiental - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Ingeniería en Gas y Petróleo - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Marketing y Publicidad - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Administración de Empresas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Comunicación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Bioquímica y Farmacia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Ingeniería de Sistemas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Fisioterapia y Kinesiología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Derecho - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Liderazgo Pastoral - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Auditoría - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Medicina - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Psicología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Enfermería - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Arquitectura - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Turismo - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Ingeniería Comercial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Ingeniería de Telecomunicaciones - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Odontología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Diplomados</B>
        <li>Diplomado en Educación Superior - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Diseño Curricular y Acreditación Académica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Administración del Talento Humano y Desarrollo Organizacional - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Dirección Contable - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Gerencia y Dirección Empresarial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Marketing de Servicios - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Marketing Relacional y CRM - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Marketing Turístico - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Comercio Exterior y Aduanas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Derecho Procesal y Penal - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Medicina Transfusional - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Diplomado en Gestión Pública Municipal - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Marketing Financiero - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <B>Maestrias</B>
        <li>Maestría en Educación Superior - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Maestría en Administración de Empresas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Maestría en Banca y Sistema Financiero - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Maestría en Administración de Recursos Humanos - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
        <li>Maestría en Gestión Pública - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    </ul>
    <a href="{{ url_for('privadas') }}">
        <button style="padding: 10px 20px; font-size: 16px;">Universidades Privadas</button>
    </a><BR><BR>
<b>Direccion: </b>Edificio UDABOL, Capitán Ravelo pasaje Isaac Eduardo<br>
<b>Contacto: </b>(591)(2)2441044<br>
{% endblock %}