{% extends 'base.html' %}

{% block content %}
<center>
    <h2>Universidad Pública de El Alto</h2>

    <img src="{{ url_for('static', filename='images/LOGOS/UPEA.png') }}" alt="Logo Universidad Privada 1" style="width:250px; height:auto; margin-top: 20px;">

        <h2>CARRERAS</h2>
</center>
<ul>
    <B>Area Ciencias de la Salud</B>
    <li>Medicina - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Odontologia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Enfermeria - <a href="/static/archivos/pensum.pdf">Ver Pensum</a></li>
    <li>Nutricion y Dietetica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Tecnologia en Mecanica Dental - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area Ingenieria Desarrollo Tecnologico y Productivo</B>
    <li>Ingenieria Electronica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieria Electrica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieriaen Produccion Empresarial - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>   
    <li>Ingenieria Autotronica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieria Textil - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>    
    <li>Ingenieria Ambiental - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area de Ciencias Economicas</B>
    <li>Economia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Contaduria Publica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Administracion de Empresas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Gestion Turistica y Hotelera - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Comercio Internacional - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area de Ciencias Agricolas</B>
    <li>Medicina Veterinaria y Zootecnia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieria en Zootecnia e Industria Pecuaria - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieria Agronomica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area de Ciencias Sociales</B>
    <li>Sociología - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Trabajo Social - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias de la Comunicación Social - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Psicologia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Historia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Linguistica e Idiomas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area de Ciencias de la Educacion</B>
    <li>Ciencias de la Educación - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Educacion Parvularia - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Psicomotricidad y Deportes - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area de Ciencias y Artes del Habitat</B>
    <li>Arquitectura - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Artes Plasticas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Area de Ciencias y Tecnologia</B>
    <li>Ingenieria en Gas y Petroquimica - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieria Civil - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <B>Otras Areas</B>
    <li>Derecho - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias Politaicas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ingenieria de Sistemas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
    <li>Ciencias Fiscales y Energia Alternativas - <a href="/static/archivos/INFORMATICA - UMSA.pdf">Ver Pensum</a></li>
</ul>
<a href="{{ url_for('publicas') }}">
    <button style="padding: 10px 20px; font-size: 16px;">Universidades Publicas</button><br><br>
</a>
<b>Dirección:</b> Av. Sucre S/N Z. Villa Esperanza, El Alto<br>
<b>Teléfono:</b> 2 2844177<br>

{% endblock %}
